<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TechCareerIosBootcamp-Sayfalar-Arasi-Gecis-Odevi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B184C2227CB9717001A4643</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B184C3827CB9719001A4643</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B184C4227CB9719001A4643</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
